<div class="container">
    <button class="to-top" [ngx-scroll-to]="'top'" [ngx-scroll-to-easing]="ngxScrollToEasing">Top</button>
    <section class="introduction" id="top">
        <h1>Marcin Dobrzański</h1>
        <h3>Freelance Web Developer</h3>
    </section>
    <section class="about-me" id="about">
        <h3>"Simple solutions, but with little <span>oomph</span> "</h3>
        <p>Hi I am Marcin and I am freelance web developer and I live in Poland. 
        I always aim for simple solutions, but always I try to give my projects 
        some life. I am open to new opportunities be it full-time job or project
        just contact me!</p>
    </section>
    <section class="work" id="work">
        <h3>Work</h3>
        <h4>Personal projects: </h4>
        <div>
            ...
        </div>
    </section>
    <footer>
        <div class="sign">
            <h4>Marcin Dobrzański</h4>
                <div>
                    <ul>
                        <li>Developed</li>
                        <li>Made</li>
                        <li>Nailed</li>    
                    </ul>
                    by me
                </div>
        </div>
        <div class="social-media" id="contact">
            <ul>
                <li>LinkedIn</li>
                <li>Twitter</li>
                <li>Hangouts</li>
                <li>Skype</li>
            </ul>
        </div>
    </footer>
</div>
    