section:not(.card-content) {
  min-height: 100vh;
  &:not(.introduction) {
    width: 100%;
    &:not(.work) {
    margin: 0 auto;
    }
  }
}


.to-top {
  position: fixed;
  bottom: 5vh;
  right: 5vw;
  min-width: 50px;
  min-height: 50px;
  background-color: #f2f2f2;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  opacity: 0;
  transition: all 0.3s;
  z-index: 1;
  filter: none;
  &:hover {
    filter: invert(100%) grayscale(100%);
    color: 050505;
  }
  &:focus {
    outline: none;
  }
}

.top {
  bottom: 12vh;
  opacity: 1;
  border-bottom: solid 0px #494849;
}

.to-top-gray {
  background-color: #d8d8d8;
  background-image:url("../../assets/gplay.svg");
}

.to-top-dark {
  background-color: #494849;
  background-image:url("../../assets/graph-paper.svg");
  color: #f2f2f2;
}

.to-top-blue {
  background-color: #2c4bc1;
  background-image: none;
  color: #f2f2f2;
}

.to-top-border {
  border-bottom: 12px solid #494849;
}


.introduction {
  display: flex;
  background-color: #203277;
  background-image:url("../../assets/stucco.svg");
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  h1 {
    width: 100%;
    font-size: 2em;

  }
  h3 {
    position: absolute;
    top: 50%;
    left: 33%;
    width: 33%;
    text-align: center;
    font-size: 2em;
  }
  // h1, h3 {
  //   text-shadow: 7px 7px 9px hsla(360, 50%, 50%, 1);
  //   animation: text-shadow-color-change 4s infinite alternate;
  // }
}

.about-me {
  background-color: #d8d8d8;
  background-image:url("../../assets/gplay.svg");
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: black;
}

.work {
  margin-bottom: 12vh;
  background-color: #494849;
  background-image:url("../../assets/graph-paper.svg");
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  h3 {
    font-size: 4em;
    margin: 0.1em 0;
  }
  h4 {
    text-align: left;
    font-size: 2.5em;
    margin: 0.1em 1em;
  }
  ui-carousel {
   height: 100vh;
    margin-bottom: 12px;
  }
  div {
    align-self: stetch;
    mat-card {
      margin: 15px auto;
      width: 85%;
      .card-content {
        display: flex;
        justify-content: space-around;
      .mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary {
          background-color: #2c4bc1;
      }
        mat-card-subtitle {
          margin-top: 5px;
          span {
            margin: 0 3px;
          }
        }
        mat-card-actions {
          display: flex;
          justify-content: flex-end;
        }
      }
    }
  }
}

footer {
  background-color: #232323;
  display: flex;
  flex-wrap: no-wrap;
  justify-content: space-between;
  align-items: center;
  z-index: -1;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0;
  height: 12vh;
  li {
    list-style: none;
  }
}

.footerOpacity {
  opacity: 1;
}

.complete-sign {
  display: flex;
  flex-direction: column;
  div {
    padding: 0 15px;
  }
}

.sign {
  display: flex;
  align-items: center;
  padding: 0 15px;
  height: 50px;
  h4 {
    margin: 0;
  }
  ul {
    width: auto;
    padding: 0 10px;
    li {
      overflow: hidden;
      /* Ensures the content is not revealed until the animation */
      white-space: nowrap;
      /* Keeps the content on a single line */
      margin: 0;
      /* Gives that scrolling effect as the typing happens */
      letter-spacing: .15em;
      /* Adjust as needed */
      &:after {
        content: "developed";
      }
    }
  }
}

.social-media {
  display: flex;
  padding: 0 15px;
  span {
    padding: 10px;
    a {
        color: hsla(360, 100%, 100%, 1);
      &:visited {
        color: hsla(360, 100%, 100%, 1);
      }
      &:hover {
        animation: colorChange 4s infinite alternate;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .sign ul li {
    border-right: .15em solid #f2f2f2;
    /* The typwriter cursor */
    animation: typing 3.5s steps(17) infinite, blink-caret 0.75s steps(17) infinite;
    &:after {
      animation: change-text 7s infinite;
    }
  }
}

/* The typing effect */
@keyframes typing {
  from, to {
    width: 1%;
  }
  
  45%, 50%, 55% {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }

  50% {
    border-color: #f2f2f2;
  }
}


@keyframes change-text {
  0% {
    content: "";
  }

  2% {
    content: "developed";
  }

  50% {
    content: "developed";
  }

  51% {
    content: "created";
  }

  98% {
    content: "created";
  }

  100% {
    content: "";
  }
}

@mixin eachFrame($number){
  $percent: ($number * 1%);
  #{$percent} {
   @content;
  }
}
@keyframes colorChange {
  @for $i from 1 through 100 {
    @include eachFrame($i){
      $hue: ($i * 3.6);
      color: hsla($hue,50%, 50%, 1);
    }
  }
}
@keyframes text-shadow-color-change {
  @for $i from 1 through 100 {
    @include eachFrame($i){
      $hue: ($i * 3.6);
      text-shadow: 7px 7px 9px hsla($hue,50%, 50%, 1);
    }
  }
}

.animated {
    visibility: visible !important;
}
.hide-on-init {
    visibility: hidden;
}



