<div class="container">
    <button 
    class="to-top animated infinite" 
    [class.top]="top"
    [class.tada]="hoverTop"
    [ngx-scroll-to]="'top'"
    on-mouseover= "onMouseEnter()"
    on-mouseleave= "onMouseLeave()"
    [ngx-scroll-to-easing]="ngxScrollToEasing">
        <i class="fas fa-angle-double-up fa-3x"></i>
    </button>
    <section class="introduction" id="top">
        <h1>Marcin Dobrzański</h1>
        <h3>Freelance Web Developer</h3>
    </section>
    <section class="about-me" id="about">
        <h3>"Simple solutions, but with little <span>oomph</span> "</h3>
        <p>Hi I am Marcin and I am freelance web developer and I live in Poland. 
        I always aim for simple solutions, but always I try to give my projects 
        some life. I am open to new opportunities be it full-time job or project
        just contact me!</p>
    </section>
    <section class="work" id="work">
        <h3>Work</h3>
        <h4>Personal projects: </h4>
        <div>
            <mat-card *ngFor="let project of projects">
                <mat-card-title>{{project.title}}</mat-card-title>
                <img mat-card-image [src]="project.img[0]"/>
                <mat-card-subtitle>
                Used technologies:
                    <span *ngFor="let technology of project.technologies">{{technology}}</span>
                </mat-card-subtitle>
                <mat-card-content>{{project.caption}}</mat-card-content>
            </mat-card>
        </div>
    </section>
    <footer detect-scroll (onScroll)="handleScroll($event)" [bottomOffset]="2000">
        <div class="complete-sign">
            <div class="sign">
                Website 
                <ul><li></li></ul>
            </div>
            <div><h4>by Marcin Dobrzański</h4></div>
        </div>
        <div class="social-media" id="contact">
            <span *ngFor="let link of links" [matTooltip]="link.text" matTooltipShowDelay="300">
                <a [href]="link.url">
                    <i [class]="link.icon"></i>
                </a>
            </span>

        </div>
    </footer>
</div>
    