section {
    min-height: 100vh;
}

section:not(.introduction) {
    width: 80%;
    margin: 0 auto;
}

.to-top {
    position: fixed;
    bottom: 5vh;
    right: 5vw;
    min-width: 50px;
    min-height: 50px;
    background-color: #f2f2f2;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    opacity: 0;
    transition: all 0.3s;
}

.to-top:hover {
    background-color: #232323;
    color: #f2f2f2;
    transform: scale(2);
    /*transform-origin: -100px;*/
}

.to-top:focus {
    outline: none;
}


.introduction {
    display: flex;
    background-color: #4b4a63;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction h1 {
    font-size: 3em;
    margin-bottom: 7.5px;
    text-align: center
}

.introduction h3 {
    font-size: 2em;
    margin-top: 7.5px;
}

.about-me {
    background-color: #494849;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.work {
    background-color: #d8d8d8;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    color: black;
}

.work div {
    align-self: stetch;
    
}

footer {
    background-color: #232323;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
}
footer li {
    list-style: none;
}
.complete-sign {
    display: flex;
    flex-direction: column;
}
.complete-sign div {
    padding: 0 15px;
}
.sign {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 50px;
}
.sign h4 {
    margin: 0;
}
.sign ul {
    width: auto;
    padding: 0 10px;
}
.sign ul li {
 overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
}
.sign ul li:after {
 content: "developed";
}

.social-media {
    display: flex;
    padding: 0 15px;
}
.social-media span {
    padding: 10px;
}
@media only screen and (min-width: 600px) {
    .sign ul li {
        border-right: .15em solid #f2f2f2; /* The typwriter cursor */
          animation: 
        typing 3.5s steps(33) infinite,
        blink-caret .75s steps(30) infinite;
    }
    .sign ul li:after {
        animation: change-text 7s infinite;
    }
}
/* The typing effect */
@keyframes typing {
  from, to { width: 1% }
  50% { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #f2f2f2; }
}

@keyframes change-text {
    0% { content: "" }
    2% { content: "developed" }
    50% { content: "developed" }
    51% { content: "nailed" }
    98% { content: "nailed" }
    100% { content: ""; }
}

.top {
    bottom: 12vh;
    opacity: 1;
}
